<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <title>Add new pet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Добавление нового питомца</h1>
    <form>
        <p>Имя: <input type="text" name="name" class="field"></p>
        <p>Тип животного: <select size="1" name="typePet" class="field">
            <option>DOG</option>
            <option>ELEPHANT</option>
            <option>CAT</option>
        </select></p>
        <p>Имеет ли дом: 
            <span><input type="radio" value="true" name="isHomeless" class="fieldRadio" checked>Yes</span>
            <span><input type="radio" value="false" name="isHomeless" class="fieldRadio">No</span>
        </p>
    </form>
    <input type="submit" value="Back" id="submit_back">
    <input type="submit" value="Send" id="submit_send">


    <script type="text/javascript" charset="UTF-8" src="../static/js/addPet.js"></script>
</body>
</html>