<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<head>
    <title>Add new pet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Добавление нового питомца</h1>
    <form action="/pet/add" method="POST">
        <p>Имя: <input type="text" name="name" placeholder="Enter name"></p>

        <p>Тип животного:
            <select size="1" name="typePet">
                <th:block th:each="type : ${T(by.anpoliakov.petshop.enumClass.TypePet).values()}">
                    <option th:text="${type.name().toLowerCase()}" th:value="${type}"></option>
                </th:block>
            </select>
        </p>

        <p>Имеет ли дом: 
            <span><input type="radio" value="true" name="isHomeless" checked> Yes </span>
            <span><input type="radio" value="false" name="isHomeless"> No </span>
        </p>
        <button type="submit">Send</button>
    </form>

    <script type="text/javascript" charset="UTF-8" src="../static/js/addPet.js"></script>
</body>
</html>