<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org" lang="en">
    <head>
        <title>Edit pet</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" type="text/css" th:href="@{/css/normalize.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>
    <body>
    <div class="container">
        <!-- Sitebar -->
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a th:href="@{'/pet'}">Home</a></li>
                    <li role="presentation"><a th:href="@{'/pet/add'}">Add</a></li>
                </ul>
            </nav>
            <h3 class="text-muted text-title">Editing pet</h3>
            <hr>
        </div>

        <!-- Body with pets -->
        <div>
            <form th:action="'/pet/' + ${pet.id} + '/edit'" method="POST">
                <p>Name: <input type="text" name="name" placeholder="Enter name" class="form-control" th:value="${pet.name}"></p>

                <p>Type of animal:
                    <select size="1" name="typePet" class="form-control form-control-sm">
                        <th:block th:each="type : ${T(by.anpoliakov.petshop.enumClass.TypePet).values()}">
                            <option th:text="${type.name().toLowerCase()}" th:value="${type}" th:selected="${type} == ${pet.typePet}"></option>
                        </th:block>
                    </select>
                </p>

                <p>Имеет ли дом:
                    <span><input type="radio" value="true" name="isHomeless" th:checked="${pet.isHomeless} == true"> Yes </span>
                    <span><input type="radio" value="false" name="isHomeless" th:checked="${pet.isHomeless} == false"> No </span>
                </p>
                <br>
                <a class="btn btn-lg btn-danger" th:href="@{'/pet'}" role="button">Back</a>
                <button type="submit" class="btn btn-lg btn-success">Update</button>
                <br><br>
            </form>
        </div>


        <!-- Footer -->
        <footer class="footer" th:insert="footer :: footer"></footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    </body>
</html>