<!DOCTYPE HTML>
   <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
   <head>
      <title>Home page</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
   </head>
   <body>
      <a th:href="@{'/pet/add'}"><button>Add new pet</button></a>
      <h3>ALL PETS: </h3>
      <th:block th:each ="pet : ${pets}">
         <div style="float:left" th:text="'Питомец в БД под ID: ' + ${pet.id} + ', и его имя: ' + ${pet.name}"></div>
         <div style="float:left; padding-left: 10px;"><a th:href="'/pet/' + ${pet.id}"><button>Детальнее</button></a></div>
         <br><br>
      </th:block>

      <!--Говорим о том, что сюда подключается фрагмент кода, путь от templates -> footer -> :: -> имя куска кода -->
      <div th:insert="footer :: footer"></div>
   </body>
</html>