<!DOCTYPE HTML>
   <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
   <head>
      <title>All pets</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   </head>
   <body>
      <th:block th:each ="pet:${pets}">
         <p>
            Питомец в БД под № <span th:text="${pet.id}"></span>,
            и его имя: <span th:text="${pet.name}"/><span/>
         <p/>
            <!--Запустится даже с красной-волнистой лииней, либо в html тег прописать: <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"> -->
      </th:block>
   </body>
</html>